<div style="margin-top: 5px;">
  <form [formGroup]="quarantineListForm">
    <div class="row no-gutters ms-1 me-1 dense-4">
      <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="">Select</mat-option>
          <mat-option value="3008">Approved</mat-option>
          <mat-option value="3009">Rejected</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="table-box">
  <mat-table [dataSource]="quarantineListData" matSort id="dataTable" class="table_background_color">
    <!-- <ng-container matColumnDef="selectAction">
  <mat-header-cell *matHeaderCellDef>
    Action
  </mat-header-cell>
  <mat-cell *matCellDef="let row">
    <mat-radio-button
      name="selectedRow"
      [value]="row"
      (change)="setSelectedID(row)">
    </mat-radio-button>
  </mat-cell>
</ng-container> -->
    <ng-container matColumnDef="lc0005">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Pack Number
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.uc0001}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ff0001">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Material Number
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.gr_ff0004 }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ff0002">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Material Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.gr_ff0003 }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ff0003">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Material Code
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.gr_ff0002 }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ff0004">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Lot Received Quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.gr_ff0007 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ff0006">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Available Quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.gr_ff0022 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ff0007">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Available Pack Quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ff0004 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ff0005">
      <mat-header-cell *matHeaderCellDef mat-sort-header>UOM
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.gr_ff0006 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lc0003">
      <mat-header-cell *matHeaderCellDef mat-sort-header>GRN Number
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.lc0003 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.gr_ff0017 }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="createdon">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.createdon | customDatePipe : "dateWithHrMin" }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdby">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created By
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.createdby }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Batch
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon class="cursor" (click)="submit(row)"> toggle_on </mat-icon>
      </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="action">
  <mat-header-cell *matHeaderCellDef mat-sort-header>
    Batch
  </mat-header-cell>

  <mat-cell *matCellDef="let row">
    <mat-icon
      class="cursor"
      [class.disabled]="selectedRow !== row"
      (click)="submit(row)">
      
      {{ row.batch ? 'toggle_on' : 'toggle_off' }}
      
    </mat-icon>
  </mat-cell>
</ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" (page)="pageChanged($event)" showFirstLastButtons
    aria-label="Select page of periodic rows">
  </mat-paginator>
</div>
<!-- <div class="submit-container">
  <button mat-raised-button color="primary" (click)="submit(selectedRow)">
    Submit
  </button>
</div> -->