.mat-icon {
  font-size: 24px;
}

.mat-column-sNo {
  flex: 0 0 7%;
}

.mat-column-action {
  flex: 0 0 10%;
}

.mat-column-RequestNo {
  flex: 0 0 19%;
}

.mat-column-fullName {
  flex: 0 0 15%;
}

.mat-column-lifecyclecode {
  flex: 0 0 15%;
}

.mat-column-Unit Code {
  flex: 0 0 24%;
}

.mat-column-Department {
  flex: 0 0 15%;
}

.mat-column-Module Code {
  flex: 0 0 15%;
}

.mat-column-RequestVersion {
  flex: 0 0 15%;
}
