<mat-spinner
  *ngIf="isLoading"
  class="global-loading-spinner"
  color="primary"
  mode="indeterminate"
></mat-spinner>
<div class="row gx-0 create-update-dialog-header-section">
  <div class="col-10 d-flex justify-content-start">
    <h1 class="daialog-title-name p-2">Equipment Inustument Master {{ this.userData.type }}</h1>
  </div>
  <div class="col-2 d-flex justify-content-end">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </div>
</div>
<div class="screenOverFlowY">
  <form [formGroup]="DepartmentMaster" class="margin-top_7">
    <mat-card>
      <div class="p-2">
        <div class="section_header">
          <p class="section_header_title">Equipment Inustument Master Information</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="p-2">
            <div class="row no-gutters pb-2 ms-1 me-1">
              <span class="form-validation-msg"
                >Required Fields are denoted by an asterisk(<span
                  class="color_red"
                  >*</span
                >).</span
              >
            </div>
            <div class="row no-gutters ms-1 me-1 dense-4 orgCode"><br/>
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Unit Code</mat-label>
                <input
                  type="text"
                  matInput
                  readonly
                  formControlName="unitcode"
                  (change)="onChangePlantCode()"
                />
              </mat-form-field>
            </div>         
            <div class="row no-gutters ms-1 me-1 dense-4">
              <mat-form-field appearance="outline" class="col-6 px-1" *ngIf="isUpdate">
                <mat-label>Inustument  No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="uc0001"
                  [readonly]="isUpdate"
                  [class.isReadonlyField]="isUpdate"
                  placeholder="Inustument  No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Inustument Name</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0001"
                  placeholder="Inustument Name"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Department</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0002"
                  placeholder="Department"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Category Code</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0003"
                  placeholder="Category Code"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Category Name</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0004"
                  placeholder="Category Name"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Category Type</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0005"
                  placeholder="Category Type"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Equipment No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0006"
                  placeholder="Equipment No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Equopment Name</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0007"
                  placeholder="Equopment Name"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Clasification</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0008"
                  placeholder="Clasification"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Make</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0009"
                  placeholder="Make"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Modle</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0010"
                  placeholder="Modle"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Manufacturer S. No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0011"
                  placeholder="Manufacturer S. No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Vendor Name</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0012"
                  placeholder="Vendor Name"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Supplier Name</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0013"
                  placeholder="Supplier Name"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Installed On</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0014"
                  placeholder="Installed On"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Warraty Exipire On</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0015"
                  placeholder="Warraty Exipire On"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>SOP No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0016"
                  placeholder="SOP No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Softwere</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0017"
                  placeholder="Softwere"
                />
              </mat-form-field>
            </div>
            <div class="row no-gutters ms-1 me-1 dense-4" *ngIf="isUpdate">
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Status</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="status"
                  placeholder="Status"
                  (change)="onChangeStatus()"
                />
                <img
                  alt="lov img"
                  src="../../../../../../assets/searchfind.svg"
                  class="icon-size lovSearchButton"
                  color="primary"
                  (click)="openStatusLOV()"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="p-2">
        <div class="section_header">
          <p class="section_header_title">Comments</p>
        </div>
      </div>

      <div>
        <div class="col-12">
          <div class="p-2">
            <div class="row no-gutters ms-1 me-1">
              <mat-form-field appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea
                  type="text"
                  matInput
                  formControlName="comments"
                  placeholder="Comments"
                >
                </textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>
<div class="containerBTN">
  <div class="d-flex justify-content-center">
    <button
      mat-raised-button
      class="submitButton"
      (click)="isUpdate ? onUpdate() : onSaveConfirmation()"
      [class.isDisabledBtn]="DepartmentMaster.invalid"
    >
      {{
        isUpdate
          ? buttonLabelService.getLabel("submit")
          : buttonLabelService.getLabel("submit")
      }}
    </button>
    <button
      mat-raised-button
      class="submitButton"
      *ngIf="!isUpdate"
      (click)="onClear()"
    >
      Clear
    </button>
  </div>
</div>
