<div class="adjust">
    <div class="example-table-container">
        <app-common-header [pageData]="this.pageData" (headerData)="getHeaderData($event)"></app-common-header>
    </div>
</div>

<div class="table-box">
    <div class="section_header_child_1">
        <div class="float-start">Instrument Information</div>
    </div>
</div>

<div class="row no-gutters ms-1 me-1 dense-4" [formGroup]="InstrumentForm">
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Instrument Code</mat-label>
        <input type="text" matInput formControlName="instrumentCode" placeholder="Instrument Code"
            (change)="onChangeInstrumentCode()" />
        <img alt="lov img" src="../../../../../../assets/searchfind.svg" class="icon-size lovSearchButton"
            color="primary" (click)="openStatusLOV()" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Instrument Name</mat-label>
        <input type="text" matInput formControlName="instrumentName" placeholder="Instrument Name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Instrument Number</mat-label>
        <input type="text" matInput formControlName="instrumentNumber" placeholder="Instrument Number" />
    </mat-form-field>
</div>


<app-common-title [title]="'Quantitative Test'"></app-common-title>
<div class="parameter-card" *ngFor="let parameter of QpsrRecordList">
    <div class="row no-gutters ms-1 me-1 dense-4">
        <mat-form-field appearance="outline" class="col-3 px-1">
            <mat-label>Parameter Number</mat-label>
            <input type="text" matInput [(ngModel)]="parameter.parameterNo" placeholder="Parameter Number" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
            <mat-label>Set Point Number</mat-label>
            <input type="number" matInput [(ngModel)]="parameter.setPointNo" placeholder="Set Point Number" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
            <mat-label>Parameter Name</mat-label>
            <input type="text" matInput [(ngModel)]="parameter.parameterName" placeholder="Parameter Name" readonly />
        </mat-form-field>
        <!-- <div class="float-right col-3">
        <button mat-raised-button class="submitButton" [disabled]="disableButtons" (click)="onGenerateParameters()">
            Generate Fields
        </button>
    </div> -->
    </div>

    <h3>{{parameter.parameterName}} {{ parameter.parameterNo }}</h3>

    <div class="setpoint-card" *ngFor="let sp of parameter.setPoints; let j = index">

        <div class="row no-gutters ms-1 me-1 dense-4">

            <mat-form-field appearance="outline" class="col-2 px-1">
                <mat-label>Set Point {{ j + 1 }}</mat-label>
                <input type="text" matInput [(ngModel)]="sp.setPoint">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-2 px-1">
                <mat-label>Min</mat-label>
                <input type="text" matInput [(ngModel)]="sp.min">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-2 px-1">
                <mat-label>Max</mat-label>
                <input type="text" matInput [(ngModel)]="sp.max">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>UOM</mat-label>

                <mat-select [(ngModel)]="sp.uom">

                    <mat-option value="">Select UOM</mat-option>

                    <mat-option *ngFor="let uom of uomList" [value]="uom">
                        {{ uom }}
                    </mat-option>

                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1 result">
                <mat-label>Result</mat-label>
                <input type="text" matInput [value]="sp.result" [style.color]="sp.result === 'PASS' ? 'green' : 'red'"
                    readonly>
            </mat-form-field>
        </div>

        <!-- <div class="result-section">
            <mat-form-field>
                <mat-label>Result</mat-label>
                <input type="text" matInput [value]="sp.result" [style.color]="sp.result === 'PASS' ? 'green' : 'red'"
                    readonly>
            </mat-form-field>
        </div> -->

        <div class="pass-limit">
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Pass Limit Description</mat-label>
                <textarea matInput [(ngModel)]="sp.passLimit" rows="3">
                    </textarea>
            </mat-form-field>
        </div>

    </div>

</div>
<!----------------------------Qualitative----------------------->
<app-common-title [title]="'Qualitative Test'"></app-common-title>
<div class="parameter-card" *ngFor="let parameter of QlpRecordList">
    <div class="row no-gutters ms-1 me-1 dense-4">
        <mat-form-field appearance="outline" class="col-3 px-1">
            <mat-label>Qualitative Parameter Number</mat-label>
            <input type="text" matInput [(ngModel)]="parameter.qualitativeParameterNo" placeholder="Parameter Number" />
        </mat-form-field>
        <!-- <div class="float-right col-3">
        <button mat-raised-button class="submitButton" [disabled]="disableButtons"
            (click)="onGenerateQualitativeParameters()">
            Generate Qualitative Parametes
        </button>
    </div> -->
    </div>

    <h3>Qualitative ParameterNo {{ parameter.qualitativeParameterNo }}</h3>

    <div class="setpoint-card" *ngFor="let sp of parameter.setPoints; let j = index">

        <div class="row no-gutters ms-1 me-1 dense-4">

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Set Point {{ j + 1 }}</mat-label>
                <input type="text" matInput [(ngModel)]="sp.qualitativeSetPoints">
            </mat-form-field>
        </div>

        <div class="pass-limit">
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Pass Limit Description</mat-label>
                <textarea matInput [(ngModel)]="sp.qualitativePassLimit" rows="3">
                    </textarea>
            </mat-form-field>
        </div>

    </div>

</div>
<!----------------------------Multi Quantitative----------------------->

<app-common-title [title]="'Multi Quantitative Test'"></app-common-title>
<div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Parameter Number</mat-label>
        <input type="number" matInput [(ngModel)]="quantitativeParameterNo" placeholder="Parameter Number" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Set Point Number</mat-label>
        <input type="number" matInput [(ngModel)]="quantitativeSetPointNo" placeholder="Set Point Number" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Parameter Name</mat-label>
        <mat-select [(ngModel)]="quantitativeParameterName">
            <mat-option value="">Select</mat-option>
            <mat-option value="conducted">Conducted</mat-option>
            <!-- <mat-option value="GM">GM</mat-option>
                        <mat-option value="L">L</mat-option> -->
        </mat-select>
    </mat-form-field>
    <div class="float-right col-3">
        <button mat-raised-button class="submitButton" [disabled]="disableButtons"
            (click)="onGenerateQuantitativeParameters()">
            Generate Fields
        </button>
    </div>
</div>

<div class="parameter-card" *ngFor="let parameter of quantitativeParameters">

    <h3>{{parameter.quantitativeParameterName}} {{ parameter.quantitativeParameterNo }}</h3>

    <div class="setpoint-card" *ngFor="let sp of parameter.setPoints; let j = index">
        <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Set Point {{ j + 1 }}</mat-label>
                <input type="text" matInput [(ngModel)]="sp.setPoint">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Readings</mat-label>
                <input type="number" matInput [(ngModel)]="sp.readings" (input)="generateReadingFields(sp)">
            </mat-form-field>
        </div>

        <div class="row no-gutters ms-1 me-1 dense-4" style="margin-bottom: 10px;">
            <div *ngFor="let reading of sp.readingValues; let k = index">

                <mat-form-field appearance="outline" class="col-3 px-1">

                    <mat-label>
                        Reading {{ k + 1 }}
                    </mat-label>

                    <input type="number" matInput [(ngModel)]="reading.value" (input)="calculateStatistics(sp)">

                </mat-form-field>

            </div>

        </div>
        <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-2 px-1">
                <mat-label>Minimum</mat-label>
                <input type="number" matInput [(ngModel)]="sp.minimum" (input)="checkResult(sp)" readonly>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-2 px-1">
                <mat-label>Maximum</mat-label>
                <input type="number" matInput [(ngModel)]="sp.maximum" (input)="checkResult(sp)" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-2 px-1">
                <mat-label>Average</mat-label>
                <input type="number" matInput [(ngModel)]="sp.average" (input)="checkResult(sp)" readonly>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Standard Deviation</mat-label>
                <input type="number" matInput [(ngModel)]="sp.standardDeviation" (input)="checkResult(sp)" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Relative Standard Deviation</mat-label>
                <input type="number" matInput [(ngModel)]="sp.relativeStandardDeviation" (input)="checkResult(sp)"
                    readonly>
            </mat-form-field>
        </div>
        <div class="row no-gutters ms-1 me-1 dense-4">

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>PassLimit Minimum</mat-label>
                <input type="number" matInput [(ngModel)]="sp.passLimitMin" (input)="checkMultiQuantitativeResult(sp)">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>PassLimit Maximum</mat-label>
                <input type="number" matInput [(ngModel)]="sp.passLimitMax" (input)="checkMultiQuantitativeResult(sp)">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>UOM</mat-label>
                <mat-select [(ngModel)]="sp.uom">
                    <mat-option value="">Select UOM</mat-option>
                    <mat-option *ngFor="let uom of uomList" [value]="uom">
                        {{ uom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Average Lower</mat-label>
                <input type="number" matInput [(ngModel)]="sp.averageLower" (input)="checkMultiQuantitativeResult(sp)">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Average Upper</mat-label>
                <input type="number" matInput [(ngModel)]="sp.averageUpper" (input)="checkMultiQuantitativeResult(sp)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Standard Deviation</mat-label>
                <input type="number" matInput [(ngModel)]="sp.quantitativeStandardDeviation"
                    (input)="checkMultiQuantitativeResult(sp)">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label> Relative Standard Deviation</mat-label>
                <input type="number" matInput [(ngModel)]="sp.quantitativeRelativeStandardDeviation"
                    (input)="checkMultiQuantitativeResult(sp)">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3 px-1 result">
                <mat-label>Result</mat-label>
                <input type="text" matInput [value]="sp.result" [style.color]="sp.result === 'PASS' ? 'green' : 'red'"
                    readonly>
            </mat-form-field>
        </div>

        <!-- <div class="result-section">
            <mat-form-field>
                <mat-label>Result</mat-label>
                <input type="text" matInput [value]="sp.result" [style.color]="sp.result === 'PASS' ? 'green' : 'red'"
                    readonly>
            </mat-form-field>
        </div> -->

        <div class="pass-limit">
            <mat-form-field appearance="outline" class="col-3 px-1">
                <mat-label>Pass Limit Description</mat-label>
                <textarea matInput [(ngModel)]="sp.passLimit" rows="3">
                    </textarea>
            </mat-form-field>
        </div>

    </div>

</div>

<app-common-comments [nextStageListData]="nextStageListData"
    (commentsData)="handleCommentsForm($event)"></app-common-comments>
<div class="containerBTN margin-top_2 margin-bottom_35">
    <div class="d-flex justify-content-center">
        <button mat-raised-button class="submitButton" (click)="onSaveConfirmation()" [disabled]="disableButtons">
            Save
        </button>
        <button mat-raised-button class="submitButton" (click)="onSubmitConfirmation()" [disabled]="disableButtons">
            Submit
        </button>
        <!-- <button mat-raised-button class="submitButton">Clear</button> -->
    </div>
</div>
<mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary" mode="indeterminate"></mat-spinner>
<div class="height_5"></div>