.mat-column-uniqueNo {
    flex: 0 0 14%;
  }
  .mat-column-action {
    flex: 0 0 8%;
  }
  .mat-column-mainModule {
    flex: 0 0 8%;
  }
  .mat-column-subModule {
    flex: 0 0 7%;
  }
  .mat-column-createdon {
    flex: 0 0 10%;
  }
  .mat-column-createdby {
    flex: 0 0 8%;
  } 
  .mat-column-scriptNo {
    flex: 0 0 10%;
  } 
.mat-column-executionStatement {
    flex: 0 0 35%;
  }