<div class="adjust">
    <div class="example-table-container">
        <app-common-header [pageData]="this.pageData" (headerData)="getHeaderData($event)"></app-common-header>
    </div>
</div>

<div class="table-box">
    <div class="section_header_child_1">
        <div class="float-start">Instrument Information</div>
    </div>
</div>

<div class="row no-gutters ms-1 me-1 dense-4" [formGroup]="InstrumentForm">
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Instrument Code</mat-label>
        <input type="text" matInput formControlName="instrumentCode" placeholder="Instrument Code"  (change)="onChangeInstrumentCode()" />
    <img alt="lov img" src="../../../../../../assets/searchfind.svg" class="icon-size lovSearchButton" color="primary"
      (click)="openStatusLOV()" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Instrument Name</mat-label>
        <input type="text" matInput formControlName="instrumentName" placeholder="Instrument Name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
        <mat-label>Instrument Number</mat-label>
        <input type="text" matInput formControlName="instrumentNumber" placeholder="Instrument Number" />
    </mat-form-field>
</div>
<div class="table-box">
    <div class="section_header_child_1">
        <div class="float-start">Check List</div>
    </div>
</div>
<div class="col-2 px-1 d-flex justify-content-start">
      <button
        mat-raised-button
        type="button"
        class="submitButton"
        (click)="addRow()">
        Add Row
      </button>
</div>
<div class="row no-gutters ms-1 me-1 align-items-center"
     [formGroup]="InstrumentForm">

    
  <div formArrayName="rows">

  <div
    class="row no-gutters ms-1 me-1 align-items-center"
    *ngFor="let row of rows.controls; let i = index"
    [formGroupName]="i">

    <!-- Check Point -->
    <mat-form-field appearance="outline" class="col-6 px-1">
      <mat-label>Check Point</mat-label>

      <input
        matInput
        formControlName="checkPoint"
        placeholder="Check Point">
    </mat-form-field>

    <!-- Status -->
    <div class="col-4 px-1">

      <label class="status-heading">Status</label>

      <mat-radio-group formControlName="status">

        <mat-radio-button value="PASS" class="pass-color me-3">
          Pass
        </mat-radio-button>

        <mat-radio-button value="FAIL" class="fail-color me-3">
          Fail
        </mat-radio-button>

        <mat-radio-button value="NA">
          N/A
        </mat-radio-button>

      </mat-radio-group>

    </div>

    <!-- Remarks -->
    <mat-form-field appearance="outline" class="col-2 px-1">
      <mat-label>Remarks</mat-label>

      <input
        matInput
        formControlName="remarks"
        placeholder="Remarks">
    </mat-form-field>
    <ng-container matColumnDef="removeRow">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="removeRow(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>



    <!-- Button 
    <div class="col-2 px-1">

      <button
        mat-raised-button
        type="button"
        class="submitButton"
        (click)="addRow()">

        Add Row

      </button>  

    </div> -->

  </div>


</div>
      
<app-common-comments [nextStageListData]="nextStageListData"
    (commentsData)="handleCommentsForm($event)"></app-common-comments>
<div class="containerBTN margin-top_2 margin-bottom_35">
    <div class="d-flex justify-content-center">
        <button mat-raised-button class="submitButton" (click)="onSaveConfirmation()" >
        <!-- [disabled]="disableButtons"> -->
            Save
        </button>
        <button mat-raised-button class="submitButton" (click)="onSubmitConfirmation()">
             <!-- [disabled]="disableButtons"> -->
            Submit
        </button>
        <!-- <button mat-raised-button class="submitButton">Clear</button> -->
    </div>
</div>
<mat-spinner *ngIf="isLoading" class="global-loading-spinner" color="primary" mode="indeterminate"></mat-spinner>
<div class="height_5"></div>