<mat-spinner
  *ngIf="isLoading"
  class="global-loading-spinner"
  color="primary"
  mode="indeterminate"
></mat-spinner>
<div class="row gx-0 create-update-dialog-header-section">
  <div class="col-10 d-flex justify-content-start">
    <h1 class="daialog-title-name p-2"> Clean Room Grade {{ this.userData.type }}</h1>
  </div>
  <div class="col-2 d-flex justify-content-end">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </div>
  <div class="screenOverFlowY">
    <form [formGroup]="DepartmentMaster">
      <mat-card>
        <div class="p-2">
          <div class="section_header">
            <p class="section_header_title">Clean Room Grade Information</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="p-2">
              <div class="row no-gutters pb-2 ms-1 me-1">
                <span clss="form-validation-msg"
                  >Required Fields are denoted by an asterisk(<span
                    class="color_red"
                    >*</span
                  >).</span
                >
              </div>
                <!-- <div class="col-6 px-1"></div>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Material Vendor No</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="uc0001"
                    [readonly]="!isUpdate ? true : false"
                    [class.isReadonlyField]="isUpdate"
                    placeholder="Material Vendor No"
                  />
                </mat-form-field> -->
              </div>  
              <div class="row no-gutters ms-1 me-1 dense-4 orgCode"><br />
                <mat-form-field appearance="outline" class="col-12 px-1">
                  <mat-label>Unit Code</mat-label>
                  <input type="text" matInput readonly formControlName="unitcode" (change)="onChangePlantCode2()" />
                </mat-form-field>
              </div>
            </div>
           <div class="row no-gutters ms-1 me-1 dense-4">
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Clean Room Grade No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="uc0001"
                    [readonly]="isUpdate"
                    [class.isReadonlyField]="isUpdate"
                  placeholder="Clean Room Grade No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label> Clean Room Grade Code</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0001"
                  placeholder="Clean Room Grade Code"
                />
                
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Clean Room Grade Name</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0002"
                  placeholder="Clean Room Grade Name"
                />
               
              </mat-form-field>
               </div>
            
            <div class="col-3 px-1" *ngIf="isUpdate">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Status</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="status"
                  placeholder="Status"
                  (change)="onChangeStatus()"
                />
                <img
                  alt="lov img"
                  src="../../../../../../assets/searchfind.svg"
                  class="icon-size lovSearchButton"
                  color="primary"
                  (click)="openStatusLOV()"
                />
              </mat-form-field>
            </div>
          </div>
      </mat-card>
      <mat-card>
        <div class="p-2">
          <div class="section_header">
            <p class="section_header_title">Comments</p>
          </div>
        </div>
        <div>
          <div class="col-12">
            <div class="p-2">
              <div class="row no-gutters ms-1 me-1">
                <mat-form-field appearance="outline" class="width_100">
                  <mat-label>Comments</mat-label>
                  <textarea
                    type="text"
                    matInput
                    formControlName="comments"
                    placeholder="Comments"
                  >
                  </textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
</div>
<div class="containerBTN">
  <div class="d-flex justify-content-center">
    <button
      mat-raised-button
      class="submitButton"
      (click)="isUpdate ? onUpdate() : onSaveConfirmation()"
      [class.isDisabledBtn]="DepartmentMaster.invalid"
    >
      {{
        isUpdate
          ? buttonLabelService.getLabel("submit")
          : buttonLabelService.getLabel("submit")
      }}
    </button>
    <button
      mat-raised-button
      class="submitButton"
      *ngIf="!isUpdate"
      (click)="onClear()"
    >
      Clear
    </button>
  </div>
</div>

