.mat-column-createdby {
    flex: 0 0 10%;
  }
  .mat-column-ff0003 {
    flex: 0 0 15%;
  }
  .mat-column-ff0005 {
    flex: 0 0 10%;
  }
  .mat-column-createdon {
    flex: 0 0 10%;
  }
  .mat-column-comments {
    flex: 0 0 55%;
  }