<div class="adjust">
  <div class="example-table-container">
    <app-common-header
      [pageData]="this.pageData"
      (headerData)="getHeaderData($event)"
    ></app-common-header>
    <!-- <div class="table-box">
      <div class="section_header">
        <div class="float-left">
          <p class="section_header_title">Quotation Information</p>
        </div>
      </div>
    </div> -->
    <app-common-title [title]="'Quotation Information'"></app-common-title>

    <form [formGroup]="ViewDetailForm">
      <div class="row no-gutters ms-1 me-1 dense-4 margin-top_5">
        <mat-form-field appearance="outline" class="col-12 px-1">
          <mat-label>Quotation No.</mat-label>
          <input
            type="text"
            matInput
            placeholder="Quotation No."
            formControlName="quotationNo"
            [readonly]="isReadonly"
            [class.isReadonlyFieldForQuotation]="isReadonly"
          />
        </mat-form-field>
      </div>
    </form>
    <div class="adjust">
      <div class="unit-code-container">
        <div class="unit-code-box">
          <form [formGroup]="ViewDetailForm">
            <div class="row no-gutters ms-1 me-1 dense-4">
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Organization Unit Code</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Oarganization Unit Code"
                  formControlName="orgUnitCode"
                  [readonly]="isReadonly"
                  [class.isReadonlyFieldForQuotation]="isReadonly"
                />
              </mat-form-field>
            </div>
          </form>
          <div class="supplier-content-code" *ngIf="this.unitCodeData">
            <div class="sup-head-code supply-container">
              <div class="sup-fields heading-font">
                Address of organization unit
              </div>
              <div class="sup-values padding_4">
                {{ unitCodeData[0].ff0003 }}, {{ unitCodeData[0].ff0004 }},
                {{ unitCodeData[0].ff0005 }},{{ unitCodeData[0].ff0007 }},{{
                  unitCodeData[0].ff0007
                }},<br />
                <span class="heading-font">Pincode:</span>
                {{ unitCodeData[0].ff0008 }},<span class="heading-font">
                  Mobile: </span
                >{{ unitCodeData[0].ff0009 }}<br /><span class="heading-font"
                  >Email: </span
                >{{ unitCodeData[0].ff0010 }}, <br /><span class="heading-font"
                  >PAN: </span
                >{{ unitCodeData[0].ff0011 }},
                <span class="heading-font">GST: </span
                >{{ unitCodeData[0].ff0012 }},
                <span class="heading-font">State Code: </span
                >{{ unitCodeData[0].ff0013 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sales-code-container">
        <div class="unit-code-box">
          <form [formGroup]="ViewDetailForm">
            <div class="row no-gutters ms-1 me-1 dense-4">
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Sale Unit Code</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Sale Unit Code"
                  formControlName="salesUnitCode"
                  [readonly]="isReadonly"
                  [class.isReadonlyFieldForQuotation]="isReadonly"
                />
                <!-- <img
                  alt="lov img"
                  src="../../../../../../assets/searchfind.svg"
                  class="icon-size lovSearchButton"
                  color="primary"
                  (click)="openSalesUnitLov()"
                /> -->
              </mat-form-field>
            </div>
          </form>
          <div class="supplier-content-code" *ngIf="unitCodeData">
            <div class="sup-head-code supply-container">
              <div class="sup-fields heading-font">Address of sales unit</div>
              <div class="sup-values padding_4">
                {{ unitCodeData[1].ff0003 }}, {{ unitCodeData[1].ff0004 }},
                {{ unitCodeData[1].ff0005 }},{{ unitCodeData[1].ff0007 }},{{
                  unitCodeData[1].ff0007
                }},<br />
                <span class="heading-font">Pincode:</span>
                {{ unitCodeData[1].ff0008 }},<span class="heading-font">
                  Mobile: </span
                >{{ unitCodeData[1].ff0017 }}<br /><span class="heading-font"
                  >Email: </span
                >{{ unitCodeData[1].ff0015 }}, <br /><span class="heading-font"
                  >PAN: </span
                >{{ unitCodeData[1].ff0011 }},
                <span class="heading-font">GST: </span
                >{{ unitCodeData[1].ff0012 }},<span class="heading-font">State Code: </span
                >{{ unitCodeData[1].ff0014 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Product Information start-->
    <!-- <div class="table-box">
      <div class="float-right">
       <button (click)="addNewRow()">add</button> 
        <button
          mat-raised-button
          class="section-add-new-record-btn"
          (click)="addNewRow()"
        >
          Add
        </button>
      </div>
    </div> -->

    <app-common-title [title]="'Product Information'"></app-common-title>
    <div class="row">
      <div class="col-12">
        <div class="p-2">
          <div class="tabOverFlowX" *ngIf="this.stockList.length > 0">
            <table class="display-table" id="dataTable">
              <thead class="background_369">
                <tr>
                  <th></th>
                  <th>Item Number</th>
                  <th>Price Code</th>
                  <th>Product Code</th>
                  <th>Product Name</th>
                  <th>Product No</th>
                  <th col="7">Quantity</th>
                  <!-- <th style="color: white;">PO Date</th> -->
                  <th>HSN Code</th>

                  <th col="10">Rate</th>
                  <th col="11">% Discount</th>
                  <th col="12">Discount Amount</th>
                  <th col="12">Total Discount</th>
                  <th col="13">After Discount Rate</th>
                  <th>%GST</th>
                  <th>GST Amount</th>
                  <th>Amount</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of stockList; let idx = index">
                  <td>
                    <img src="/assets/delete.png" (click)="deleteTodo(idx)" />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm txt-box width_140_px"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      [(ngModel)]="item.itemNo"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      [readonly]="isReadonly"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm txt-box width_140_px"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      [(ngModel)]="item.priceCode"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      [readonly]="isReadonly"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm txt-box width_110_px"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      [(ngModel)]="item.productCode"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      [readonly]="isReadonly"
                    />
                  </td>

                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm txt-box"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      [(ngModel)]="item.productName"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      [readonly]="isReadonly"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm txt-box width_100_px"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      [(ngModel)]="item.productNumber"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      [readonly]="isReadonly"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_70_px"
                      [(ngModel)]="item.quantity"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="onCalAllFieldAmount(idx)"
                      required
                    />
                  </td>

                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm txt-box width_140_px"
                      [readonly]="isReadonly"
                      [(ngModel)]="item.gstcode"
                      [ngModelOptions]="{ standalone: true }"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>

                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.rate"
                      [ngModelOptions]="{ standalone: true }"
                      [readonly]="isReadonly"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.discountPercentage"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="onCalAllFieldAmount(idx)"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.discountAmount"
                      [ngModelOptions]="{ standalone: true }"
                      [readonly]="isReadonly"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.totalDiscount"
                      [ngModelOptions]="{ standalone: true }"
                      [readonly]="isReadonly"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.afterdiscountAmount"
                      [ngModelOptions]="{ standalone: true }"
                      [readonly]="isReadonly"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>

                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.gst"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="onCalAllFieldAmount(idx)"
                      [readonly]="isReadonly"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.gstAmount"
                      [ngModelOptions]="{ standalone: true }"
                      [readonly]="isReadonly"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm txt-box width_100_px"
                      [(ngModel)]="item.finalPrice"
                      [ngModelOptions]="{ standalone: true }"
                      [readonly]="isReadonly"
                      [class.isReadonlyFieldForQuotation]="isReadonly"
                      required
                    />
                  </td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td
                  class="text-align_left color_black font-weight_700 border-radius_25 bg-color_dfecec box-shadow_0f3064"
                >
                  {{ totalDisAmt | number : "1.2-2" }}
                </td>
                <td
                  class="text-align_left color_black font-weight_700 border-radius_25 bg-color_dfecec box-shadow_0f3064"
                >
                  {{ afterDisAmt | number : "1.2-2" }}
                </td>
                <td></td>
                <td></td>
                <td
                  class="text-align_left color_black font-weight_700 border-radius_25 bg-color_dfecec box-shadow_0f3064"
                >
                  {{ totalAmt | number : "1.2-2" }}
                </td>
              </tfoot> -->
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--Product Information end-->
    <div class="container-fluid" *ngIf="this.indexList">
      <mat-card class="">
        <div class="supplier-content">
          <div class="sup-head row-background-color">
            <div class="sup-fields">Total Discount :</div>
            <div class="sup-values">
              {{ totalDisAmt | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head row-background-color">
            <div class="sup-fields">After Discount Sub Total Amount :</div>
            <div class="sup-values">
              {{ afterDisAmt | number : "1.2-2" }}
            </div>
          </div>

          <div class="sup-head">
            <div class="sup-fields">SGST :</div>
            <div class="sup-values">
              {{ SGST | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head">
            <div class="sup-fields">CGST</div>
            <div class="sup-values">
              {{ CGST | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head row-background-color">
            <div class="sup-fields">IGST</div>
            <div class="sup-values">
              {{ IGST | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head row-background-color">
            <div class="sup-fields">Total GST Amount</div>
            <div class="sup-values">
              {{ totalGst | number : "1.2-2" }}
            </div>
          </div>
          <div class="sup-head">
            <div class="sup-fields">Total Amount :</div>
            <div class="sup-values">
              {{ totalAmt | number : "1.2-2" }}
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <form [formGroup]="QuotationForm">
      <div class="row no-gutters ms-1 me-1 dense-4">
        <mat-form-field appearance="outline" class="col-4 px-1">
          <mat-label>Quotetion Valid To Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            formControlName="quotationValidDate"
            placeholder="Quotetion Valid  To Date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4 px-1">
          <mat-label>Delivery Date </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="deliveryDate"
            placeholder="Delivery Date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-4 px-1">
          <mat-label>Collective Number</mat-label>
          <input
            type="text"
            matInput
            formControlName="collectiveNo"
            placeholder="Collective Number"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4 px-1 ms-1">
          <mat-label>Payment Terms Code</mat-label>
          <input
            type="text"
            matInput
            formControlName="paymentTermsCode"
            placeholder="Payment Terms Code"
          />
          <img
            alt="lov img"
            src="../../../../../../assets/searchfind.svg"
            class="icon-size lovSearchButton"
            color="primary"
            (click)="paymentTermsCode()"
          />
        </mat-form-field>
      </div>
    </form>
    <div
      class="margin-top_5 margin-bottom_20 margin-left_5 margin-right_5"
      *ngIf="paymentCodeList.data.length"
    >
      <mat-table matSort [dataSource]="paymentCodeList">
        <ng-container matColumnDef="ff0001">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >S.No</mat-header-cell
          >
          <mat-cell *matCellDef="let element"> {{ element.ff0001 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ff0002">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Description</mat-header-cell
          >
          <mat-cell *matCellDef="let element"> {{ element.ff0002 }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="paymentCodeCloumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: paymentCodeCloumns"></mat-row>
      </mat-table>
    </div>
    <!-- <app-as-common-footer
      [pageData]="this.pageData"
      (comments)="getCommentsData($event)"
    >
      <div class="table-box">
        <app-comments-table
          [headerData]="this.headerData"
          [ff0005Value]="ff0005"
        ></app-comments-table>
      </div>
    </app-as-common-footer> -->
    <!-- <div class="table-box margin-left_10 margin-right_10 margin-top_4">
        <mat-table
          [dataSource]="dataSource"
          id="datTable"
          matTableExporter
          #exporter="matTableExporter"
          matSort
          class="bg-color_ghost_White"
        >
          <ng-container matColumnDef="createdby">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >User Id</mat-header-cell
            >
            <mat-cell *matCellDef="let row"> {{ row.createdby }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ff0003">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Role Name</mat-header-cell
            >
            <mat-cell *matCellDef="let row"> {{ row.ff0003 }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ff0005">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Version</mat-header-cell
            >
            <mat-cell *matCellDef="let row">
              {{ onRequestVersion(row) }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Comments</mat-header-cell
            >
            <mat-cell *matCellDef="let row"> {{ row.comments }} </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="resviewCommentsDisplayColumn"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: resviewCommentsDisplayColumn"
          ></mat-row>
        </mat-table> -->

    <!--<form [formGroup]="FooterForm">
      <div class="row no-gutters me-1 dense-4">
         <mat-form-field appearance="outline" class="col-4 px-1">
          <mat-label>Next stage</mat-label>
          <input
            type="text"
            matInput
            formControlName="nextStage"
            placeholder="Next Stage"
          />
          <img
            alt="lov img"
            src="../../../../../../assets/searchfind.svg"
            class="icon-size lovSearchButton"
            color="primary"
            (click)="openNextStageLov()"
          />
        </mat-form-field> 
    </div>
      </form>-->
    <app-common-comments
      [nextStageListData]="nextStageListData"
      (commentsData)="handleCommentsForm($event)"
      [dataSource]="dataSource"
    ></app-common-comments>
    <div class="containerBTN margin-top_2 margin-bottom_35">
      <div class="d-flex justify-content-center">
        <button
          mat-raised-button
          class="submitButton"
          (click)="onSaveConfirmation('0')"
        >
          Save
        </button>
        <button mat-raised-button class="submitButton" (click)="onSubmit('1')">
          Submit
        </button>
        <button mat-raised-button class="submitButton">Clear</button>
      </div>
    </div>
    <!-- <mat-spinner
      *ngIf="isLoading"
      class="global-loading-spinner"
      color="primary"
      mode="indeterminate"
    ></mat-spinner> -->
  </div>
</div>

<div class="height_35"></div>
