<div class="row gx-0 create-update-dialog-header-section">
  <div class="col-10 d-flex justify-content-start">
    <h1 class="daialog-title-name p-2">Draft Evidences</h1>
  </div>
  <div class="col-2 d-flex justify-content-end">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </div>
</div>
<div class="table-box">
  <mat-table [dataSource]="tableData" matTableExporter class="table_background_color" matSort id="dataTable">
    <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox
              class="margin-left_7_7_rem"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>

    <ng-container matColumnDef="poNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PO No
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ff0001 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="materialCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Material Code
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ff0003 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="materialName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Material Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ff0004 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="materialNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Material Number
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ff0017}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="poQuantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PO_Quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ff0005 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="uom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>UOM
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ff0006 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="vendorCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Code
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ff0002 }}</mat-cell>
    </ng-container>      
    <mat-header-row *matHeaderRowDef="addedGoodsListdisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: addedGoodsListdisplayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" (page)="pageChanged($event)" showFirstLastButtons
    aria-label="Select page of periodic rows">
  </mat-paginator>
  <button mat-raised-button class="submitButton" (click)="onSubmit('row')">
    Submit
  </button>
</div>