<div
  style="margin-top: 5px; margin-left: 5px"
>
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onInspectionType()">
       Inspection Type Master
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onStorage()">
       Storage Location Master
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onQuantity()">
       Quantity Master
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onQuantityLed()">
       Quantity Ledger
      </button>
    </mat-grid-tile>
      </mat-grid-list>
</div>