<div
  class="custom-dialog"
  style="padding: 0px"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <!-- Header (Drag Handle) -->
  <div
    class="row gx-0 create-update-dialog-header-section"
    cdkDragHandle
    style="outline: none; cursor: move"
  >
    <div class="col-10 d-flex justify-content-start">
      <h1 class="daialog-title-name p-2">
        {{ this.userData.pageTitle }}
      </h1>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <button mat-icon-button (click)="openPDF()">
        <mat-icon class="close-icon" color="warn">download</mat-icon>
      </button>
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Body -->
  <div class="p-2">
    <div class="tabOverFlowY" id="htmlData" *ngIf="fields">
      <div class="sup-head1">
        <div class="logo2 row align-items-center">
          <span class="col-3 d-flex justify-content-start">
            <img [src]="logoURL" alt="Logo" style="height: 77px; width: 200px" />
          </span>
          <span class="col-3" style="margin-left:190px;">
            <h2 class="m-0">Audit Trail</h2>
          </span>
        </div>
      </div>

      <div class="dialog-header-section">
        <div class="table-box">
          <div class="section_header">
            <div class="float-left">
              <p class="section_header_title">{{ this.userData.pageTitle }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Fields Loop -->
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let field of fields; let i = index" [attr.id]="'Location' + i">
            <div *ngIf="i % 2 === 0" class="row">
              <div class="col-6">
                <div class="field-container">
                  <div class="field-label">{{ field.labelName }}</div>
                  <div class="field-value">{{ field.value }}</div>
                </div>
              </div>
              <ng-container *ngIf="fields[i + 1]">
                <div class="col-6">
                  <div class="field-container">
                    <div class="field-label">{{ fields[i + 1].labelName }}</div>
                    <div class="field-value">{{ fields[i + 1].value }}</div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
